/* -----------UTILITY---------- */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.bg-grey{
  background-color: #F4F9FC;
}

.row {
  margin: 0 -15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.col-100{
  width: 100%;
}

/* ----------FIRST NAV LEFT---------*/

ul li{
  float: left;
  line-height: 60px;
  display: inline;
  list-style-type: none;
  color: #00374F;
}

.first-chevron{
  padding-right: 25px;
  border-right: 1px solid black;
}

#padding-contactus{
  padding-left: 25px;
}

.login-nav{
  float: right;
}

/* ----------FIRST NAV RIGHT----------*/

.fa-search{
  color: #0097B5;
}

.but{
  border-radius: 5px;
  line-height: 0;
  margin-top: 10px;
  padding: 20px 15px;
}

.login{
  color: #FE7759;
  border: 1px solid #FE7759;
  margin-left: 25px;

}

.freehubspot{
  color: #fff;
  background-color: #FE7759;
  margin-left: 25px;
}

/* -----------SECOND NAV---------- */

.bg-white{
  height: 70px;
}

#logo{
  float: left;
  padding-top: 20px;
}

.services{
  float: right;
}

.second-chevron{
  padding-left: 15px;
  padding-right: 15px;
}

/* -------------JUMBO------------ */

.background{
  height: 1095px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100vw;
}

.title{
  color: #33475B;
  font-size: 70px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 50px;
}

.parag-title{
  line-height: 30px;
  margin-bottom: 20px;
}

.freehubspotjumbo{
  width: 185px;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 35px 30px;
}


/* -----------HR SECTION GREY---------- */

.bg-hrsection{
  background-color: #B0EBE4;
  height: 85px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

/* ------------COMPETENCE SECTION CUBE-------- */

.cube{
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.h2-offers{
  text-align: center;
  font-size: 45px;
  color: #33475B;
}

.parag-offers{
  margin-top: 50px;
  display: block;
  text-align: center;
  line-height: 30px;
  margin-bottom: 50px;
}

/* ---------COMPETENCE SECTION BOOK-------- */

.col-25{
  width: 25%;
  float: left;
}

.book-container{
  border-radius: 5px;
  width: 100%;
  height: 450px;
  background: #fff;
  box-shadow: 0px 0px 10px 1px #cecece;
}

.book{
  margin-top: 20px;
  margin-left: 150px;
  width: 300px;
  height: 300px;
}

.learn-more{
  text-align: center;
  padding: 35px;
  margin-left: 175px;
  margin-right: 125px;
}

.col-75{
  width: 75%;
}

.FreeHubSpotCRM{
  padding-top: 50px;
  padding-left: 650px;
  font-size: 30px;
}

.FreeHubSpotCRM-paragraph{
  padding-top: 50px;
  padding-left: 650px;
  line-height: 25px;
}

.popolar-feauture{
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-left: 650px;
  padding-bottom: 20px;
}

.checklist{
  padding-left: 650px;
}

/* -----------FETURES----------- */

.col-33 {
  width: calc(100% / 3);
}

.card{
  display: inline;
  float: left;
  text-align:center;
  border-radius: 5px;
  width: 30%;
  height: 700px;
  background: #fff;
  box-shadow: 0px 0px 10px 1px #cecece;
  /* margin: 0 auto; */
}

/* ----------TAB-------- */

.bg-green{
  background-color: #01ABB6;
  height: 1000px;
}

.h2tab{
  color: #fff;
  padding-top: 50px;
}

.ptab{
  color: #fff;
}
