/* -----------UTILITY---------- */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: #33475A;
}

.bg-grey{
  background-color: #F4F9FC;
}

.row {
  margin: 0 -50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 0 auto;
}

[class^="col-"]{
  float: left;
  padding: 0 50px;
}

.col-100{
  width: 100%;
}

/* ----------FIRST NAV LEFT---------*/

ul li{
  float: left;
  line-height: 60px;
  display: inline;
  list-style-type: none;
}

.first-chevron{
  padding-right: 25px;
  border-right: 1px solid black;
}

#padding-contactus{
  padding-left: 25px;
}

.login-nav{
  float: right;
}

/* ----------FIRST NAV RIGHT----------*/

.fa-search{
  color: #0097B5;
}

.but{
  border-radius: 5px;
  line-height: 0;
  margin-top: 10px;
  padding: 20px 15px;
}

.login{
  color: #FE7759;
  border: 1px solid #FE7759;
  margin-left: 25px;

}

.freehubspot{
  color: #fff;
  background-color: #FE7759;
  margin-left: 25px;
}

/* -----------SECOND NAV---------- */

.bg-white{
  height: 70px;
}

#logo{
  float: left;
  padding-top: 20px;
}

.services{
  float: right;
}

.second-chevron{
  padding-left: 15px;
  padding-right: 15px;
}

/* -------------JUMBO------------ */

.background{
  height: 1095px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100vw;
}

.title{
  font-size: 70px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 50px;
}

.parag-title{
  line-height: 30px;
  margin-bottom: 20px;
}

.freehubspotjumbo{
  width: 185px;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 35px 30px;
}


/* -----------HR SECTION GREY---------- */

.bg-hrsection{
  background-color: #B0EBE4;
  height: 85px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

/* ------------COMPETENCE SECTION CUBE-------- */

.cube{
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.h2-offers{
  text-align: center;
  font-size: 45px;
  color: #33475B;
}

.parag-offers{
  margin-top: 50px;
  display: block;
  text-align: center;
  line-height: 30px;
  margin-bottom: 50px;
}

/* ---------COMPETENCE SECTION BOOK-------- */

.col-25{
  width: calc(100% / 4);
}

.book-container{
  border-radius: 5px;
  width: 100%;
  height: 450px;
  background: #fff;
  box-shadow: 0px 0px 10px 1px #cecece;
}

.book{
  margin-top: 20px;
  margin-left: 150px;
  width: 300px;
  height: 300px;
}

.learn-more{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 45%;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left:
}

.col-75{
  width: 75%;
}

.FreeHubSpotCRM{
  padding-top: 50px;
  padding-left: 650px;
  font-size: 30px;
}

.FreeHubSpotCRM-paragraph{
  padding-top: 50px;
  padding-left: 650px;
  line-height: 25px;
}

.popolar-feauture{
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-left: 650px;
  padding-bottom: 20px;
}

.checklist{
  padding-left: 650px;
}

/* -----------FETURES----------- */

.col-33 {
  width: calc(100% / 3);
}

.card{
  text-align: center;
  border-radius: 5px;
  height: 1000px;
  background: #fff;
  box-shadow: 0px 0px 10px 1px #cecece;
  margin: 70px auto;
}

.img-box-table-work{
  height: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-features{
  margin-top: 25px;
  padding-bottom: 70px;
  line-height: 30px;
}

.hr-card{
  margin: 0 auto;
  width: 70%;
  border-bottom: 1px solid #33475B;
  margin-bottom: 70px;
}

.list-feature{
  margin-top: 50px;
  margin-left: 70px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 50px;

}
/* ----------TAB-------- */

.bg-green{
  background-color: #01ABB6;
  /* height: 950px; */
}

.h2tab{
  color: #fff;
  padding-top: 50px;
}

.ptab{
  color: #fff;
}

/* ---------------GRIGLIA---------- */

.hr-tab{
  border-bottom: 2px solid #fff;
}

.hr-middle{
  border-right: 2px solid #fff;
}

.data{
  text-align: center;
  color: #fff;
  line-height: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-b{
  margin-bottom: 100px;
}
/* -------------SPONSOR------------- */

.bignumber{
  margin-top: 70px;
  margin-left: 80px;
  font-size: 70px;
}

.nr-customers{
  margin-top: 50px;
  line-height: 30px;
  margin-left: 80px;
  margin-bottom: 100px;
}

.p-bignumber{
  font-size: 40px;
  margin-bottom: 50px;
}

.margin-freehubspot{
  margin-top: 50px;
  margin-bottom: 30px;
}

.freetools{
  font-size: 13px;
}

.loghi{
  margin-left: 125px;
  position: relative;
  line-height: 100px;
}

.logo{
  margin-right: 50px;
}

.l-wistia{
  width: 350px;
  position: absolute;
  top: 130px;
}

.l-classpass{
  position: absolute;
  left: 800px;
  bottom: 65px;
  width: 300px;
}

.l-wm{
  position: absolute;
  left: 1100px;
  top: 120px;
}

.chineese-girl{
  float: right;
  height: 500px;
  margin-bottom: 100px;
}

/* ------------FOOTER--------- */
